@model IEnumerable<SEARCH_ACCOUNTSResult>;
<style>
    .Result_Box {
        display: flex;
        justify-content: center;
    }
</style>

<br />

<a asp-controller="Setting" asp-action="Search"></a>

<br />

<br />
<html>
<head>
    <link rel="stylesheet" href="~/css/about_index.css">
</head>
<body>
    <div class="row">

        <table class="table" id="DataTable">
            <thead>

            <th>الحساب</th>
            <th>
              اسم الحساب  </th>
            <th>ACC_NAME</th>
           

            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                   
                        <th> @person.ACC_CODE</th>
                        <th> @person.ACC_EN_NAME</th>
                        <th> @person.ACC_AR_NAME</th>


                    </tr>
                }
            </tbody>

        </table>
    </div>




    @section scripts{

        <script>             
                                $('#DataTable').DataTable({
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'copy', 'scv', 'excel', 'pdf', 'print'
                                    ]
                                });
                         

        </script>
    }
</body>
</html>

