
<div>
    <ul>

        <li>
            <a asp-controller="Setting" asp-action="Basics">سند نقدي</a>
        </li>
        <li>
            <a asp-controller="Setting" asp-action="Search"> نقدي</a>
        </li>
        <li>
            <a asp-controller="Setting" asp-action="Index"> alhg </a>
        </li>
    </ul>

</div>